<div class="card" *ngIf="!isLoading && !isError">
    <div class="card-body">
        Valiutos keitimas
         <hr>
         <div>
            EUR: <b>{{ currency.base }}</b> 
         </div>
         <div>
            USD: <b> {{ currency.rates["USD"] }}</b>
         </div>
    </div>
</div>
<div class="card" *ngIf="isLoading">
    <div class="card-body">
       <div class="alert alert-info">Loading...</div>
    </div>
 </div>
 <div class="card" *ngIf="isError">
    <div class="card-body">
       <div class="alert alert-danger">Įvyko klaida...Bandykite vėliau.</div>
    </div>
 </div>